<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soins de santé</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 12px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:hover {
            background-color: #f5f5f5;
        }
    </style>
</head>
<body>

<h1>Terminologie des Soins de Santé</h1>

<table>
    <thead>
    <tr>
        <th>Terme</th>
        <th>Définition</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Soin de santé mentale</td>
        <td>
            Le soin de santé mentale englobe un ensemble de services visant à promouvoir, préserver et restaurer la santé mentale d'un individu. Cela inclut la psychothérapie, la prise en charge des troubles mentaux et émotionnels, ainsi que le soutien psychosocial.
        </td>
    </tr>
    <tr>
        <td>Soins cardiovasculaires</td>
        <td>
            Les soins cardiovasculaires regroupent les interventions médicales et les changements de mode de vie destinés à prévenir et traiter les maladies du système cardiovasculaire, notamment les maladies cardiaques et les troubles vasculaires.
        </td>
    </tr>
    <tr>
        <td>Soins Dentaires Généraux</td>
        <td>
            Les soins dentaires généraux englobent les examens réguliers, les nettoyages professionnels, les traitements de caries et d'autres interventions visant à maintenir une bonne santé bucco-dentaire. Ils contribuent à prévenir les problèmes dentaires futurs.
        </td>
    </tr>
    <tr>
        <td>Soins Esthétiques Dentaires</td>
        <td>
            Les soins esthétiques dentaires sont axés sur l'amélioration de l'apparence des dents et du sourire. Cela inclut des procédures telles que le blanchiment des dents, la pose de facettes et d'autres interventions esthétiques pour obtenir un résultat visuellement agréable.
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
